@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p{
    text-align: justify;
}

body{
    background-image:linear-gradient(to right,#9ed1b7,#e7d9b4) 
}

main{
background-color: white;
border-radius: 10px;
box-shadow: 5px 5px 10px rgba(52, 54, 54, 0.479);
width: 600px;
padding: 10px;
margin: auto;

}

h1{
color: rgb(151, 13, 231);
text-align: center;
text-shadow: 1px 1px 2px rgba(65, 10, 97, 0.247);
}

h2{
color: crimson;
}