@charset "UTF-8";

/*
em HTML o id é = a # em CSS
em HTML, class é = a . em CSS
*/

body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: darkorange;
}

h1#principal{
text-align: center;
background-color: chartreuse;

}

h2{
    color: chocolate;
}

.basico{
color: rgb(6, 139, 61);
}

.intermediario{
color: crimson;
}

.avancado{
color: rgb(161, 82, 218);
}
.destaque{
    background-color: rgb(38, 10, 197);
}