@charset "UTF-8";

body{
    background-color: rgb(243, 230, 48);font-family: 'Times New Roman', Times, serif;font-size: 20px;
}

h1{
    color: darkblue;background-color: green;
}

h2{
    color: rgb(218, 32, 218);
}

p{
    text-align: justify;
}
   